.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7.5%;
  background-color: var(--color-dark-1);
  display: flex;
  align-items: center;
}

.topbar .header {
  height: 100%;
  display: flex;
  align-items: center;
}

.topbar .header .app-name {
  margin-left: 0.5em;
  display: inline-block;
  font-size: 1.25em;
  color: var(--color-light-1);
}

.topbar .header .app-name:hover {
  transform: scale(1.1);
}

.topbar .actions {
  width: 89%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.topbar .actions .btn {
  height: 100%;
  border: none;
  background-color: var(--color-posi-6);
}

.topbar .actions .btn:hover {
  background-color: var(--color-posi-2);
}

.logo-container {
  display: inherit;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 4em;
}

.logo {
  margin: auto;
  vertical-align: center;
  height: 2em;
  width: 2em;
  background-size: cover; /* Resize the background image to cover the entire container */
}

.logo:hover {
  transform: scale(1.1);
}

.user-count {
  font-size: 0.8em;
  width: 15%;
  margin-left: 3%;
}

@media (max-width: 600px) {
  .logo-container {
    width: 2.5em;
  }
}
