.playback-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.playback {
  height: 30em;
  width: calc(30em * 1.77777777778);
  /* pointer-events: none; */
  background-color: black;
}

.blank > iframe {
  display: none;
}

iframe {
  height: 100%;
  width: 100%;
}

@media (max-width: 1024px) {
  .playback {
    height: 20em;
    width: calc(20em * 1.77777777778);
  }
}

@media (max-width: 768px) {
  .playback {
    height: 15em;
    width: calc(15em * 1.77777777778);
  }
}

@media (max-width: 600px) {
  .playback {
    height: 13em;
    width: calc(13em * 1.77777777778);
  }
}
