.history-item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: var(--color-light-3);
  padding: 1em;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  margin-bottom: 1em;
}

.history-item:hover {
  transform: scale(1.01);
}

.item-thumbnail {
  align-self: flex-start;
  width: 100px;
  height: calc(100px / 1.77777777778);
}

.item-name {
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 1em;
}

.item-user,
.item-duration {
  text-align: left;
  display: inline-block;
  width: 50%;
}

.item-detail {
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.item-index {
  align-self: center;
  text-align: left;
  width: 3em;
}

.item-actions button {
  background-color: var(--color-light-2);
  color: black;
}

.item-actions .btn-confirmed {
  background-color: var(--color-light-1);
  color: white;
}

.item-actions button:hover {
  transform: none;
  color: white;
}

@media (max-width: 600px) {
  .item-index {
    display: none;
  }
  .item-detail {
    width: 50%;
    margin: 0.5em;
    font-size: 0.5em;
  }

  .item-thumbnail {
    width: 120px;
    height: 67px;
  }

  .item-actions button {
    height: auto;
  }
}
