.modal-box.auth {
  padding: 0 0 2.5em 0;
  height: 40%;
}

.tab {
  height: 20%;
  width: 100%;
  display: flex;
}

.tab .header {
  display: flex;
  height: 100%;
  width: 50%;
  text-align: center;
  vertical-align: center;
  cursor: pointer;
}

.tab .header span {
  margin: auto;
  color: var(--color-light-3);
}

.auth-form {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.login {
  background-color: var(--color-posi-5);
}

.register {
  background-color: var(--color-posi-6);
}

.register .btn {
  background-color: var(--color-posi-5);
}

.login .btn {
  background-color: var(--color-posi-6);
}

.login .btn-danger,
.register .btn-danger {
  background-color: var(--color-danger-1);
}

.auth input {
  background-color: white !important;
  color: var(--color-dark-1);
}

.auth .inputs-container {
  margin-bottom: 1em;
}

.auth label {
  color: white;
}

.auth .errors {
  margin-bottom: 1em;
}
