@import '../../colors.css';

.sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar .gutter {
  height: 7.5%;
  width: 100%;
}

.sidebar-container {
  background-color: var(--color-2);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.sidebar-container ul {
  list-style: none;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-container li {
  padding: 1em;
  margin-bottom: 2.5em;
}

.sidebar-icon-container {
  width: 5%;
  height: 100%;
  background-color: var(--color-4);
}

a {
  text-decoration: none;
  color: white;
}

li:hover {
  transform: scale(1.3);
}

.icon {
  width: 2em;
  height: 2em;
}
